# RAM size
vmach_mem=1024
# cd-rom image
vmach_cdrom=
# disk image
vmach_disk=debian-wheezy-amd64.img
# boot device
vmach_boot=disk
# ssh user
vmach_ssh_user=buildbot
# ssh(22) port redirection from guest to host.
vmach_ssh_port=7002
vmach_http_port=8002
vmach_carbon_port=2003
